<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-danger font-weight-bold">Play against the computer !</h5>

        <p>
          Just sign-up or log in and play as many times as you want against the computer !
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-success font-weight-bold">Rules reminder</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://fr.wikipedia.org/wiki/Tic-tac-toe" target=”_blank” class="text-white">Click here if you don't know the rules</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Made with <i class="fas fa-heart"></i> by aCm
  </div>
  <!-- Copyright -->
</footer>
