.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 310px;
}

.card-category {
  background-color: grey;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category {
  background-color: grey;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
