.statistics{
  background-color: #231651;
  color: #F4FFFD;
}

.score-box{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
  h4{
   font-weight: 900;
  }
}

.win-box{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 310px;
  h2{
   font-weight: 900;
   margin-bottom: 0;
  }
}
